<div class="form-group">
  <label for="<%= question.questionid %>"><%- question.questionprompt %></label>
  <select
    name="<%= question.questionid %>"
    id="<%= question.questionid %>"
    class="form-control"
  >
    <option>Option 1</option>
    <option>Option 2</option>
  </select>
</div>
