<div class="form-group">
  <label for="<%= question.questionid %>"><%- question.questionprompt %></label>
  <input
    name="<%= question.questionid %>"
    type="range"
    class="form-range"
    id="<%= question.questionid %>"
    oninput="this.nextElementSibling.value = this.value"
  />
  <output>50</output>
</div>
