<div class="form-group">
  <label for="numberRangeQuestion">Number Range Question</label>
  <input
    type="range"
    class="form-control"
    id="numberRangeQuestion"
    aria-describedby="numberRangeHelp"
    placeholder="Select a value"
  />
  <small id="numberRangeHelp" class="form-text text-muted"
    >Choose a value within the range.</small
  >
</div>
