<div class="form-group">
  <label for="<%= question.questionid %>"><%- question.questionprompt %></label>
  <input
    type="range"
    class="form-control"
    id="<%= question.questionid %>"
    aria-describedby="numberRangeHelp"
  />
  <small id="numberRangeHelp" class="form-text text-muted"
    >Choose a value within the range.</small
  >
</div>
