<div class="form-group">
  <label for="openEndedQuestion">Open-Ended Question</label>
  <input
    type="text"
    class="form-control"
    id="openEndedQuestion"
    aria-describedby="openEndedHelp"
    placeholder="Enter answer here"
  />
  <small id="openEndedHelp" class="form-text text-muted"
    >Enter any text you want.</small
  >
</div>
