<div class="form-group">
  <label for="<%= question.questionid %>"><%- question.questionprompt %></label>
  <input
    type="text"
    class="form-control"
    id="<%= question.questionid %>"
    aria-describedby="openEndedHelp"
    placeholder="Enter answer here"
  />
  <small id="openEndedHelp" class="form-text text-muted"
    >Enter any text you want.</small
  >
</div>
