<div class="form-group">
  <label for="<%= question.questionid %>"><%- question.questionprompt %></label>
  <input
    name="<%= question.questionid %>"
    type="text"
    class="form-control"
    id="<%= question.questionid %>"
    placeholder="Enter answer here"
  />
</div>
