<div class="form-group">
  <label for="<%= question.questionid %>"><%- question.questionprompt %></label>
  <input
    name="<%= question.questionid %>"
    type="text"
    class="form-control input-lg"
    id="<%= question.questionid %>"
    placeholder="Enter your answer here"
    autocomplete="off"
  />
</div>
