<div class="form-group">
  <label for="<%= question.questionid %>"><%- question.questionprompt %></label>
  <input
    name="<%= question.questionid %>"
    type="radio"
    class="form-control"
    id="<%= question.questionid %>"
  />
</div>
