<div class="form-check">
  <input
    name="<%= question.questionid %>"
    type="radio"
    class="form-check-input"
    id="<%= question.questionid %>1"
  />
  <label class="form-check-label">An option</label>
</div>
<div class="form-check">
  <input
    name="<%= question.questionid %>"
    type="radio"
    class="form-check-input"
    id="<%= question.questionid %>2"
  />
  <label class="form-check-label">An option</label>
</div>
