<div class="form-group">
  <label for="optionsQuestion">Options Question</label>
  <input
    type="radio"
    class="form-control"
    id="optionsQuestion"
    aria-describedby="optionsHelp"
    placeholder="Enter email"
  />
  <small id="optionsHelp" class="form-text text-muted">Select an option.</small>
</div>
