<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container">
      <h2>Confirmation Page</h2>
      <p>Your answers have been successfully submitted.</p>
      <a href="/" class="btn btn-primary" role="button">Return to Home</a>
    </div>
  </body>
</html>
