<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container center">
      <form method="POST">
        userID: <input type="number" name="userId" /> <br />
        surveyName: <input type="text" name="surveyName" /><br />
        <input
          id="createsurvey"
          type="submit"
          value="Submit survey"
          class="btn btn-primary"
        />
      </form>
    </div>
  </body>
</html>
