<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container center">
      <form method="POST">
        surveyID: <input type="text" name="surveyId" /><br />
        questionOrder: <input type="text" name="questionOrder" /><br />
        questionType: <input type="text" name="questionType" /><br />
        questionPrompt: <input type="text" name="questionPrompt" /><br />
        <input
          id="createquestion"
          type="submit"
          value="Submit question"
          class="btn btn-primary"
        />
      </form>
    </div>
  </body>
</html>
