<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container center">
      <form method="POST">
        <div class="form-group">
          <label for="surveyId">Survey ID</label>
          <input
            name="surveyId"
            id="surveyId"
            type="text"
            class="form-control"
            placeholder="Enter the ID of the survey this question will belong to"
            required
          />
        </div>
        <div class="form-group">
          <label for="questionOrder">Question Order</label>
          <input
            name="questionOrder"
            id="questionOrder"
            type="text"
            class="form-control"
            aria-describedby="questionOrderHelp"
            placeholder="Enter the order for which this question will appear in the survey"
            required
          />
          <small id="questionOrderHelp" class="form-text text-muted"
            >Enter an integer that represents the this quesiton's position in
            the survey.</small
          >
        </div>
        <div class="form-group">
          <label for="questionType">Question Type</label>
          <select
            name="questionType"
            id="questionType"
            class="form-control"
            aria-describedby="questionTypeHelp"
          >
            <option>open-ended</option>
            <option>number-range</option>
            <option>multiple-choice</option>
          </select>
          <small id="questionTypeHelp" class="form-text text-muted"
            >Open ended questions allow users to enter any text they want.
            Number range displays a slider that allows users to select an
            integer within a defined range. Multiple choice allows users to pick
            one option from a set of options.</small
          >
        </div>
        <div class="form-group">
          <label for="questionPrompt">Question Prompt</label>
          <input
            name="questionPrompt"
            id="questionPrompt"
            type="text"
            class="form-control"
            placeholder="Enter the prompt of this question"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Create Question</button>
      </form>
    </div>
  </body>
</html>
