<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container center">
      <a class="btn btn-success" href="/create-survey" role="button">+ Create New Survey</a>
    </div>
  </body>
</html>
