<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container center">
      <form method="POST">
        surveyID: <input type="text" name="surveyId">  <br>  
        userID: <input type="number" name="userId"> <br>
        surveyName: <input type="text" name="surveyName"><br>
        isOpen:(Y/N) <input type="text" name="isOpen"> <br>
        <input type="submit" value="+ Create New Survey" class="btn btn-success">
      </form>
      
    </div>
  </body>
</html>
