<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="jumbotron jumbotron-fluid">
      <div class="container center">
        <h1>Mini-SurveyMonkey</h1>
        <p>
          A mock application of SurveyMonkey for SYSC4806 at Carleton
          University.
        </p>
        <a class="btn btn-success" href="/create-survey" role="button"
          >+ Create New Survey</a
        >
        <a class="btn btn-success" href="/create-questions" role="button"
          >+ Create Question</a
        >
      </div>
    </div>
  </body>
</html>
