<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container">
      <h2>Survey Results for <%= surveyResults[0].surveyname %></h2>
      <p>List, histogram, and pie chart go here.</p>
    </div>
  </body>
</html>
